.identity img {
  display: inline-block;
  width: 120px;
  height: 120px;
  vertical-align: middle;
}

#die, #mouse {
  margin-right: 20px;
}

#keyboard {
  margin-right: 36px;
}

#mouse {
  margin-left: 36px;
}

#missiles {
  width: 192px;
  height: 192px;
}

#me {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}