#me h1 {
  text-align: center;
  margin-top: 50px;
}

.identity img {
  display: inline-block;
  width: 120px;
  height: 120px;
  vertical-align: middle;
  border: none;
}

#die, #mouse {
  margin-right: 20px;
}

#keyboard {
  margin-right: 35px;
}

#mouse {
  margin-left: 35px;
}

#missiles {
  width: 192px;
  height: 192px;
}

#blurb {
  text-align: center;
  margin-top: 25px;
}

#flairs {
  width: 672px;
  margin: 0 auto;
  margin-top: 25px;
}

#flairs a {
  display: inline-block;
}

#flairs a img {
  width: 208px;
  height: 58px;
}

#se {
  margin-left: 24px;
  margin-right: 24px;
}