/* todo 
  
  link robots text
  link to github issues (on all pages)
  full list of games
  steam signature

*/

/* DEFAULT STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: rgba(0, 0, 0, 0.87);
}

body {
  background-color: #f8f8f8;
}

.content {
  width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: 10px;
}

.header h1 {
  margin-bottom: 25px;
}

ul, ol {
  margin-left: 25px;
}

a:link, a:visited {
  color: rgba(245, 124, 0, 0.87);
  text-decoration: none;
}

a:hover, a:active {
  color: rgba(255, 152, 0, 0.87)
}

hr {
  width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* HELPER CLASSES */

.no-underline {
  text-decoration: none;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

/* COMPONENTS */

/* Nav */

nav ul {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-top: 20px;
  width: 20%;
}

nav li a:link, nav li a:visited {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  display: block;
  text-align: center;
}

nav li a:hover, nav li a:active {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

/* Body */

.pageheader {
  text-align: center;
}

table.hidden {
  border: none;
}

/* Footer */

.footer {
  font-size: 12px;
  margin-top: 30px;
}

.footer p {
  display: inline-block;
  color: rgba(0, 0, 0, 0.54);
}

.footer p:first-child {
  width: 250px;
}

.footer p:last-child {
  width: 550px;
  text-align: right;
}